<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if(locals.loggedin){ %>
            <a href="/account/" title="Go to account management" id="welcomeButton">Welcome!</a>
            <a href="/account/logout" title="Click to log out" id="logoutButton">Log Out</a>
          <% } else{ %>  
            <a href="/account/login" title="Click to log in" id="loginButton">My Account</a>
         <% } %>
    </div>
</header>