<%- messages() %>
<section>
    <h1>Welcome to CSE Motors!</h1>
    <div id="hero-container">
        <div id="owntoday-popup">
            <ul>
                <li>DMC Delorean</li>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today</button>
        </div>
        <img id="hero-img" src="/images/vehicles/delorean.jpg" alt="a Delorean">
    </div>
</section>
<section id="home-bottom-half">
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast, it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
            <div id="upgrades-container">
                <div class="upgrade-img-container">
                    <img src="/images/upgrades/flux-cap.png" alt="a flux capacitor">
                    <a href="#"><p class="caption">Flux Capacitator</p></a>
                </div>
                <div class="upgrade-img-container">
                    <img src="/images/upgrades/flame.jpg" alt="a flame decal">
                    <a href="#"><p class="caption" id="flame-caption">Flame Decals</p></a>
                </div>
                <div class="upgrade-img-container">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="a bumper sticker">
                    <a href="#"><p class="caption" id="bumper-caption">Bumper Stickers</p></a>
                </div>
                <div class="upgrade-img-container">
                    <img src="/images/upgrades/hub-cap.jpg" alt="a hub cap">
                    <a href="#"><p class="caption">Hub Caps</p></a>
                </div>
        </div>
    </div>
</section>