<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="bad-notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<form class="account-forms" action="/inv/delete-classification" method="post">
    <label for="classification-name">Classification Name</label>
    <input type="text" name="classification_name" id="classification-name" required pattern="^[a-zA-Z0-9]{3,}$" value="<%= locals.classification_name %>">
    <button class="admin-button" type="submit" value="Delete Classification">Delete Classification</button>
</form>